/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=PT+Serif+Caption:ital@0;1&display=swap');

// Colors:

$cream: #fcfcf4;

$light-teal: #c3e4de;
$dark-blue: #006884;
$med-teal: #6fbeb0;
$gray: #64605f;
$purple: #9158A2;       
$my-font-size: 18px;
$my-font-size: 25px;


$navbar-bg: $med-teal; 
$navbar-fg: $dark-blue; 
$navbar-hl: $purple; 
$body-bg: $cream;   
$body-color: $gray; 
$link-color: $dark-blue; 
$body-bg: $light-teal;   
$body-color: $gray; 
$link-color: $purple; 


$code-bg: $med-teal; 
$code-color: $purple; 

/*-- scss:rules --*/

h1, h2 {
  font-weight: 550;
}
.title {
  color: $dark-blue;
}
